---
- hosts: all
  remote_user: root
  name: Install apache and mod_wsgi
  tasks:
    - name: install apache2
      yum: name=httpd
    
    - name: install mod-wsgi
      yum: name=mod_wsgi
  
    - name: start httpd
      service: name=httpd state=started enabled=yes

- hosts: all
  name: ensure postgres packages are installed
  remote_user: root
  tasks:
  - name: Install Postgres server
    yum: name=postgresql-server
  - name: Install Posgres devel for pg_config
    yum: name=postgresql-devel # required for pg_config
  - name: Install psycopg2 for ansible db modules
    yum: name=python-psycopg2
  - name: Initialise Posgres
    command: /sbin/service postgresql initdb creates=/var/lib/pgsql/data/postgresql.conf
  - name: Start Postgres
    service: name=postgresql state=started enabled=yes

- hosts: all
  name: Install memcached
  remote_user: root
  tasks:
    - yum: name=memcached
    - yum: name=memcached-devel
    - service: name=memcached state=started enabled=yes

#!TODO: Proper iptables configuration
#- hosts: all
#  name: Disable firewall for testing
#  remote_user: root
#  tasks:
#  - service: name=iptables state=stopped
  